.color-red {
    color: red;
}

input {
    padding: 10px;
    border: 1px solid var(--color-secondary);
    color: var(--color-secondary);
    border-radius: 25px;
    box-sizing: border-box;
}

input:focus,
input:active,
input:hover {
    outline: none;
    border: 1px solid var(--color-secondary);
    color: var(--color-secondary);
    transition: none;
}

.button {
  cursor: pointer;
  color: var(--color-light);
  font-weight: 600;
  background-color: var(--primary);
  border-radius: 25px;
  width: max-content;
}

.button:hover {
  background-color: var(--background-primary);
  border: 1px solid var(--primary);
  color: var(--primary);
  transition: none;
}

.button-round {
  cursor: pointer;
  color: var(--color-light);
  font-weight: 600;
  background-color: var(--color);
  border-radius: 50%;
  width: max-content;
}

.button-round:hover {
  background-color: var(--color);
  border: 1px solid var(--color-light);
  transition: none;
}

.button-round:active {
  background-color: var(--primary);
  border: 1px solid var(--primary);
  transition: none;
}